body {
  background-color: #0e100f;
  display: flex;
  justify-content: center;
  color: #fffce1;
}

.login {
  padding: 20px;
  margin-top: 15%;
  flex-basis: 20%;
  height: 30%;
  border: 2px solid rgb(89, 211, 115);
  border-radius: 30px;
}
h1{
  margin: 10px;
  color:#fffce1;
}
.logowanie{
  background-color: #0e100f;
  padding: 5px;
  margin: 10px;
  border-radius: 30px;
  font-size: 35px;
  color: #fffce1;
  padding-left: 20px;
  border-color: rgb(89, 211, 115);
}

.password{
  margin-top: 10px;
  padding: 5px;
  margin: 10px;
  border-radius: 30px;
  font-size: 35px;
  color: #fffce1;
  padding-left: 20px;
  border-color: rgb(89, 211, 115);
  background-color: #0e100f;
}
.zaloguj {
  margin-top: 10px;
  padding: 5px;
  margin: 10px;
  border-radius: 30px;
  font-size: 35px;
  color: #fffce1;
  padding-left: 20px;
  border-color: rgb(89, 211, 115);
  background-color: #0e100f;
  padding-right: 20px;
}